In [1]:
import pandas as pd

## Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0  101.292240         0   76          0           0              0
1   98.716326         1    4          1           1              0
2   99.471792         0    6          1           1              1
3   98.336311         0   99          0           0              1
4  101.966568         0   71          1           1              1

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2994   99.658794         0   61          1          -1              1
2995   98.856782         0   46          1           0              1
2996   99.516272         1   33          1           1              0
2997  101.396909         1   32          0          -1              0
2998   98.489700         0   71          0           1              1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2999 non-null   float64
 1   bodyPain       2999 non-null   int64
 2   age            2999 non-null   int64
 3   runnyNose      2999 non-null   int64
 4   diffBreath     2999 non-null   int64
 5   infectionProb  2999 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 140.7 KB

In [6]:
df['fever'].value_counts()

101.292240    1
100.387809    1
100.524768    1
99.320400     1
101.114577    1
             ..
100.892554    1
99.314447     1
99.386363     1
99.790407     1
98.489700     1
Name: fever, Length: 2999, dtype: int64

In [7]:
df['diffBreath'].value_counts()

-1    1018
 1     999
 0     982
Name: diffBreath, dtype: int64

In [8]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000
mean,99.976169,0.499833,51.082361,0.486829,-0.006335,0.491497
std,1.162645,0.500083,28.408242,0.499910,0.820208,0.500011
min,98.001196,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.977132,0.000000,27.000000,0.000000,-1.000000,0.000000
50%,99.949935,0.000000,51.000000,0.000000,0.000000,0.000000
75%,100.996606,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.994285,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [9]:
import numpy as np

In [10]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [11]:
np.random.permutation(7)

array([1, 0, 3, 6, 2, 5, 4])

In [12]:
train, test = data_split(df, 0.2)

In [13]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1103  101.671122         1   34          1          -1              0
1569   99.744172         1   39          0           1              0
2229   99.025243         1   16          0           1              1
2296   98.007871         0   35          1           0              1
1800  100.249150         1   13          0          -1              1
...          ...       ...  ...        ...         ...            ...
1638  100.421278         1   21          1          -1              1
1095   99.515225         0   46          1           1              0
1130   98.426670         1   70          0           1              1
1294   98.762656         1   38          0           0              1
860   100.586216         0   97          0           0              0

[2400 rows x 6 columns]

In [14]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1376  100.226787         0   93          1          -1              1
932   100.487583         1   32          1           0              0
144    99.125496         1   12          0          -1              0
1752  101.940294         1   27          1          -1              0
51    100.124193         1   24          0          -1              1
...          ...       ...  ...        ...         ...            ...
842    99.351153         0   22          0           1              0
637   100.622575         0   80          0           1              0
695   101.596964         1   81          1           0              1
226    99.503233         1  100          0           1              0
2603   99.947371         0   27          1           1              0

[599 rows x 6 columns]

In [15]:
X_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()
X_test = test[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()

In [16]:
Y_train = train[['infectionProb']].to_numpy().reshape(2400,)
Y_test = test[['infectionProb']].to_numpy().reshape(599,)

In [17]:
Y_train

array([0, 0, 1, ..., 1, 1, 0], dtype=int64)

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [20]:
inputFeatures = [101, 1, 22, -1, 1]
infProb =clf.predict_proba([inputFeatures])[0][1]

In [21]:
infProb

0.4779918980773244